

<h1>List of all Spring-shoe 2015! HOT!</h1>

{% if all_shoes is not empty %}
    <ul>
        {% for shoe in all_shoes %}
            <li><a href="/shoe/{{ shoe.getId }}">{{ shoe.getShoe }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<br><br>

<form action='/shoes' method='post'>
    <label for='shoe'>Don't be an old-fashioned at Epicodus! Update a new brand shoe here</label>
    <input id='shoe' name='shoe' type='text'>

    <button type='submit'>Add a new brand</button>
</form>

<br><br>

<p><a href='/'>Going Home</a></p>
