<html>
    <head>
        <title>Library Catalog</title>
    </head>
    <body>
        <h1>Welcome to the Epicodus Footwear Stylist!</h1>
        <h3><a href="/shoes">List of all shoes brands</a></h3>
        <h3><a href="/stores">List of all stores</a></h3>

    </body>
</html>
